# Ansible managed

# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial
# synchronization phase can take
initLimit=3000

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=10

# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
dataDir=/data/zookeeper

# Directory to write the transaction log to the dataLogDir rather than the dataDir.
# This allows a dedicated log device to be used, and helps avoid competition between logging and snaphots.
dataLogDir=/data/zookeeper

# the port at which the clients will connect
clientPort=2181

# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns=2000

#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature

autopurge.snapRetainCount=10
autopurge.purgeInterval=1

# To avoid seeks ZooKeeper allocates space in the transaction log file in
# blocks of preAllocSize kilobytes. The default block size is 64M. One reason
# for changing the size of the blocks is to reduce the block size if snapshots
# are taken more often. (Also, see snapCount).
preAllocSize=131072

# Clients can submit requests faster than ZooKeeper can process them,
# especially if there are a lot of clients. To prevent ZooKeeper from running
# out of memory due to queued requests, ZooKeeper will throttle clients so that
# there is no more than globalOutstandingLimit outstanding requests in the
# system. The default limit is 1,000.ZooKeeper logs transactions to a
# transaction log. After snapCount transactions are written to a log file a
# snapshot is started and a new transaction log file is started. The default
# snapCount is 10,000.
snapCount=3000000

# If this option is defined, requests will be will logged to a trace file named
# traceFile.year.month.day.
#traceFile=

# This property contains a list of comma separated Four Letter Words commands.
4lw.commands.whitelist=conf,cons,dump,ruok,srvr,stat,wchs,wchc,wchp,mntr


# List of clustered ZooKeeper nodes.
# Port 2888 is the default quorum port and 3888 is the default
# leader election port. These must be unique per server.
# Each server also needs a /var/lib/zookeeper/myid file created containing
# aaa single unique number, e.g. 1, 2, etc.
# server.1=10.18.8.55:2888:3888
# server.2=10.18.8.56:2888:3888
# server.3=10.18.8.57:2888:3888

{% for node in hosts_group %}
server.{{ hostvars[node].server_number }}={{ hostvars[node].ansible_host }}:2888:3888
{% endfor %}
